
body {
  #remove {
    grid-area: remove;
  }

  #plusMinus {
    grid-area: plusMinus;
  }

  #percent {
    grid-area: percent;
  }

  #divide {
    grid-area: divide;
  }

  #multiply {
    grid-area: multiply;
  }

  #minus {
    grid-area: minus;
  }

  #plus {
    grid-area: plus;
  }

  #equal {
    grid-area: equal;
    border-radius: 50%;
    background-color: orange;
    color: white;
    width: 150px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  #nine {
    grid-area: nine;
  }

  #eight {
    grid-area: eight;
  }

  #seven {
    grid-area: seven;
  }

  #six {
    grid-area: six;
  }

  #five {
    grid-area: five;
  }

  #four {
    grid-area: four;
  }

  #three {
    grid-area: three;
  }

  #two {
    grid-area: two;
  }

  #one {
    grid-area: one;
  }
  
  #zero {
    grid-area: zero;
    width: 350px;
    text-align: left;
    padding-left: 60px;
    border-radius: 80px;
  }

  #decimal {
    grid-area: decimal;
  }
}